form > div > div > label:first-of-type > input {
    margin-bottom: 20px;
}

input {
    height: 50px;
    border-radius: 4px;
    border: 1px solid silver;
    padding: 0 15px;
}

label {
    display: contents;
}

i::after {
    position: absolute;
    font-style: normal;
    color: gray;
    transition: margin-top 150ms linear, margin-left 150ms linear;
}

.tool_tip_1:after {
    content: "Number of kilometers";
    margin-top: -70px;
    margin-left: 5px;
    font-size: 12px;
}

.numbers_kilometers:invalid + .tool_tip_1:after {
    margin-top: -58px;
    margin-left: 15px;
    font-size: 16px;
}

.tool_tip_2:after {
    content: "Price per one kilometer";
    margin-top: -50px;
    margin-left: 5px;
    font-size: 12px;
}

.price_kilometers:invalid + .tool_tip_2:after {
    margin-top: -38px;
    margin-left: 15px;
    font-size: 16px;
}

.number_hours:invalid + .tool_tip_3:after{
    margin-top: -58px;
    margin-left: 15px;
    font-size: 16px;
}

.tool_tip_3:after {
    content: "Number of hours";
    margin-top: -70px;
    margin-left: 5px;
    font-size: 12px;
}

.tool_tip_4:after {
    content: "Price per one hour";
    margin-top: -50px;
    margin-left: 5px;
    font-size: 12px;
}

.price_hours:invalid + .tool_tip_4:after {
    margin-top: -38px;
    margin-left: 15px;
    font-size: 16px;
}

.tool_tip_5:after {
    content: "Total Income";
    margin-left: -165px;
    margin-top: 3px;
    font-size: 12px;
}

.total_income:invalid + .tool_tip_5:after{
    margin-left: -155px;
    margin-top: 15px;
    font-size: 16px;
}



